.post-container-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.post-container-wrapper .post-wrapper {
  border: 1px solid lightgray;
  margin-top: 2.5rem;
}

.post-container-wrapper .post-wrapper .post-header {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.post-container-wrapper .post-wrapper .post-header .post-thumb-wrapper {
  height: 6rem;
  width: 6rem;
  padding-top: 1.5rem;
}

.post-container-wrapper .post-wrapper .post-header .post-thumb-wrapper img {
  height: auto;
  width: 3rem;
  border-radius: 5rem;
}
